// colors
$white: #f5f6fa;
$primary: #203ab1;
$secondary: #fc6535;
$pink: #ffd0c1;
$black: #000000;
$gray-400: #efefef;
$gray-300: #c3c5d4;
$gray-100: #7a7a7a;
$primary-text-color: #92b3fc;
$primary-darken-text-color: #4e69b6;
$primary-lighter-text-color: #b5c7fb;

$primary-gradient: linear-gradient(180deg, #1d337c, #2e56d7);

// fonts
$primary-font: 'Lato', Helvetica, Arial;
